.container h1{
  text-align:center;
}
.container p{
  text-align:center;
}
.titleheader{
  text-align:center;
}
.reload{
  border:solid red;
  background-color:black;
}
.buttonp{
  color:white;
}
.buttonalign{
  text-align:center;
}
.url{
  text-align:center;
  bottom:100px;
}
