.container h1{
  text-align:center;
}
.container p{
  text-align:center;
}
.titleheader{
  text-align:center;
}
.buttonp{
  color:white;
}
.buttonalign{
  text-align:center;
}
.url{
  text-align:center;
  border:solid red;
}
#titleheader{
  font-family:cursive;
}
.homelink{
  color:orange;
}
.pagetwolink{
  color:lightblue;
}
.top{
  background-color:black;
  position:fixed;
  width:100%;
  bottom:10px;
  border:solid black;
}
.top h1{
  color:white;
}
.top p{
  color:white;
}
.top span{
  color:white;
}
.github{
  color:black;
}
.fofh{
  text-align:center;
  color:blue;
}
.fofp{
  text-align:center;
  color:red;
}
#makewebsites{
  color:red;
}
#webpage{
  color:lightblue;
}
.contho{
  color:green;
}
.container p{
  color:red;
}
.html{
  color:lightblue;
}
.css{
  color:orange;
}
.javascript{
  color:green;
}
